body {
  font-family: Arial;
  background: #eef2f3;
}

.box {
  width:300px;
  margin:100px auto;
  background:white;
  padding:20px;
  text-align:center;
}

input, textarea {
  width:100%;
  margin:5px;
  padding:8px;
}

button {
  background:#007bff;
  color:white;
  border:none;
  padding:8px;
}
